@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
<ul class="nav navbar-nav">
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Calendar <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Day", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Week", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Month", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Agenda", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Locations", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Calendar Sync", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li>@Html.ActionLink("Tasks", "AddContact", "Contacts", new { area = "" }, null)</li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Contacts <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Clients", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Companies", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Contact Groups", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Cases <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("My Open Cases", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("My Closed Cases", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Firm Open Cases", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Firm Closed Cases", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Practice Areas", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Case Insights", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Documents <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Case Documents", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Unread Case Documents", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Firm Documents", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Templates", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Billing <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Time Entries", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Expenses", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Requested Funds", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Invoices", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Saved Activities", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Account Activity", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Trust Accounting", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Financial Insights", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Reporting <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("My Time & Expenses Today", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("My Time & Expenses This Week", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("My Time & Expenses This Month", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Firm Time & Expenses Today", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Firm Time & Expenses This Week", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Firm Time & Expenses This Month", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Aging Invoices", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Accounts Receivable", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Saved Reports", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("More Reports", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Messages <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Inbox", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Unread", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Sent", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Drafts", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Archived", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Comments <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("All", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Unread", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
    <li class="dropdown">
        <a class="dropdown-toggle" role="button" aria-expanded="false" href="#" data-toggle="dropdown">Leads <span class="caret"></span></a>
        <ul class="dropdown-menu" role="menu">
            <li>@Html.ActionLink("Dashboard", "AddContact", "Contacts", new { area = "" }, null)</li>
            <li>@Html.ActionLink("Leads Insights", "AddContact", "Contacts", new { area = "" }, null)</li>
        </ul>
    </li>
</ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: new { area = "" }, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
    <script type="text/javascript">
        $(".dropdown").hover(function () {
            $(this).toggleClass("open");
        });
    </script>