<!-- ko with: home -->
@using Microsoft.AspNet.Identity
@model ethko.Models.AddContactIndividualViewModel
<style>
    #Event {
        height: 70px;
        width: 70px;
    }

        #Event:hover {
            content: url('../content/img/281094_Calendar_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Document {
        height: 70px;
        width: 70px;
    }

        #Document:hover {
            content: url('../content/img/281118_MultiDocuments_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Task {
        height: 70px;
        width: 70px;
    }

        #Task:hover {
            content: url('../content/img/282126_MultipleChecklist_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Expense {
        height: 70px;
        width: 70px;
    }

        #Expense:hover {
            content: url('../content/img/283592_Tax_Changes_Dollar_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Invoice {
        height: 70px;
        width: 70px;
    }

        #Invoice:hover {
            content: url('../content/img/283598_Tax_Payer_Dollar_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Contact {
        height: 70px;
        width: 70px;
    }

        #Contact:hover {
            content: url('../content/img/281259_UXPerson_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Case {
        height: 70px;
        width: 70px;
    }

        #Case:hover {
            content: url('../content/img/281283_Briefcase_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Message {
        height: 70px;
        width: 70px;
    }

        #Message:hover {
            content: url('../content/img/281022_Mail_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Time {
        height: 70px;
        width: 70px;
    }

        #Time:hover {
            content: url('../content/img/281224_Clock_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Note {
        height: 70px;
        width: 70px;
    }

        #Note:hover {
            content: url('../content/img/281495_SpiralboundNotebook_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Person {
        height: 70px;
        width: 70px;
    }

        #Person:hover {
            content: url('../content/img/281122_PersonFemale_R_blue.png');
            height: 70px;
            width: 70px;
        }

    #Company {
        height: 70px;
        width: 70px;
    }

        #Company:hover {
            content: url('../content/img/281072_Building_R_blue.png');
            height: 70px;
            width: 70px;
        }
</style>

<div class="jumbotron">
    <h1>@Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: new { area = "" }, htmlAttributes: new { title = "Manage" })</h1>
    <p class="lead">ethko is a free web application for lawyers.</p>
    @Html.ActionLink("API", "Index", "Help", new { area = "HelpPage" }, null)
    <p data-bind="text: myHometown"></p>
</div>
<div class="row">


    <h2>Add Item</h2>
    <a class="btn btn-default" href="#"><img src="../content/img/281094_Calendar_R_purple.png" id="Event">  <br />Add Event</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281118_MultiDocuments_R_purple.png" id="Document">  <br />Add Document</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/282126_MultipleChecklist_R_purple.png" id="Task">  <br />Add Task</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/283592_Tax_Changes_Dollar_R_purple.png" id="Expense">  <br />Add Expense</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/283598_Tax_Payer_Dollar_R_purple.png" id="Invoice">  <br />Add Invoice</a>&nbsp;
    <a class="btn btn-default" href="#contact" rel="modal:open"><img src="../content/img/281259_UXPerson_R_purple.png" id="Contact">  <br />Add Contact</a>&nbsp;
    <a class="btn btn-default" href='@Url.Action("AddContact", "Contacts")'><img src="../content/img/281283_Briefcase_R_purple.png" id="Case">  <br />Add Case</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281022_Mail_R_purple.png" id="Message">  <br />New Message</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281224_Clock_R_purple.png" id="Time">  <br />Add Time Entry</a>&nbsp;
    <a class="btn btn-default" href="#"><img src="../content/img/281495_SpiralboundNotebook_R_purple.png" id="Note">  <br />Add Note</a>


</div>
<div id="contact" class="modal">
    <p>Add Contact</p>
    <br />
    <center>
        <p>What type of contact would you like to add?</p>
        <a class="btn btn-default" href="#individual" rel="modal:open"><img src="../content/img/281122_PersonFemale_R_purple.png" id="Person">  <br />Individual</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <a class="btn btn-default" href="#company" rel="modal:open"><img src="../content/img/281072_Building_R_purple.png" id="Company">  <br />Company</a>
    </center>
    <a href="#" rel="modal:close">Close</a>
</div>

<div id="individual" class="modal">
    <p>Add Contact - Individual</p>
    <br />
    <center>
        <p>
            <div class="col-md-8">
                @using (Html.BeginForm("Index", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div class="form-group">
                        @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.FName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.FName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(m => m.LName, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextBoxFor(m => m.LName, new { @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" class="btn btn-default" value="Cancel" />
                            <input type="submit" class="btn btn-default" value="Save Contact" />
                        </div>
                    </div>
                }
            </div>
        </p>
    </center>
    <a href="#" rel="modal:close">Close</a>
</div>

<div id="company" class="modal">
    <p>Add Contact - Company</p>
    <br />
    <center>
        <p>asdf</p>
    </center>
    <a href="#" rel="modal:close">Close</a>
</div>


<!-- /ko -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />